@*@using AppointmentsManagerBlazorApp.Model*@

<h2>@Title</h2>
<br />
<button class="btn btn-success" 
        @onclick ="e => OnCreate.InvokeAsync()"> Create new Call</button>
<hr />
<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Provider</th>
        <th>Date</th>
        <th></th>
    </tr>
    @foreach (var call in CallItems)
    {
        <tr>
            <td>@call.Id</td>
            <td>@call.Name</td>
            <td>@call.Provider</td>
            <td>@call.Date</td>
            <td>
                @*<button class="btn btn-danger" @onclick="e=>DeleteCall(call)">Delete</button>*@
                <button class="btn btn-warning" @onclick="e=>OnEdit.InvokeAsync(call)">Edit</button>
                <button class="btn btn-danger" @onclick="e=>OnDelete.InvokeAsync(call)">Delete</button>
            </td>
        </tr>
    }
</table>

@code{
    [Parameter]
    public List<Call> CallItems { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public EventCallback<Call> OnEdit { get; set; }
    [Parameter]
    public EventCallback<Call> OnDelete { get; set; }
    [Parameter]
    public EventCallback OnCreate { get; set; }


    public void DeleteCall(Call call)
    {
        this.CallItems.Remove(call);
    }


    @*public List<Call> CallItems { get; set; } =
                new List<Call>
                {
                    new Call(){Id=1, Name="Call Zoom", Date = DateTime.Now, Provider="Zoom", Description="Blazor Course", Note="Use Visual Studio 2019" },
                    new Call(){Id=2, Name="Call Teams", Date = new DateTime(2021, 6, 12), Provider="Teams", Description="C# Course", Note="Use Visual Studio Code" },
                };
        *@
 }